{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="mtl alert alert-warning">
      	您的试听申请已提交，请等待管理员的处理，处理结果会通过邮件通知你。
    </div>
  </div>
</div>

{% endblock %}