{% for timestamp1 in timeStamps %}
    <li class="course-time" data-value="{{ timestamp1 }}" data-url="{{ path('admin_course_getScheduleInfo') }}"><a href="javascript:void(0)">{{ timestamp1|time }}</a></li>
{% endfor %}
